.c000-000-000 { fill: rgb(0.00%, 0.00%, 0.00%); }
.c000-000-9335 { fill: rgb(0.00%, 0.00%, 93.35%); }
.c000-10000-000 { fill: rgb(0.00%, 100.00%, 0.00%); }
.c000-10000-10000 { fill: rgb(0.00%, 100.00%, 100.00%); }
.c000-8041-000 { fill: rgb(0.00%, 80.41%, 0.00%); }
.c000-8041-8041 { fill: rgb(0.00%, 80.41%, 80.41%); }
.c10000-000-000 { fill: rgb(100.00%, 0.00%, 0.00%); }
.c4978-4978-4978 { fill: rgb(49.78%, 49.78%, 49.78%); }
.c8041-000-000 { fill: rgb(80.41%, 0.00%, 0.00%); }
.c8041-8041-000 { fill: rgb(80.41%, 80.41%, 0.00%); }
.c8984-8984-8984 { fill: rgb(89.84%, 89.84%, 89.84%); }
.c8984-8984-8984 { fill: black; }
